/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: Fold;
  src: url(/Font/SpecialElite-Regular.ttf);
}

body {
  margin: 0;
  font-family: "Fold";
  background-color: blanchedalmond;
}

a {
  text-decoration: none;
}

.Deathbat {
  width: 200px;
  -webkit-transition: ease-in-out;
  -o-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-animation: bounce 4s infinite;
          animation: bounce 4s infinite;
}

.Deathbat:hover {
  -webkit-animation: scale 4s infinite;
          animation: scale 4s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@-webkit-keyframes scale {
  0%,
  20%,
  40% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }

  60%,
  80% {
    scale: 1.5;
  }
}

@keyframes scale {
  0%,
  20%,
  40% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }

  60%,
  80% {
    scale: 1.5;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.container nav ol {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container nav ol li {
  margin-right: 100px;
  font-size: 26px;
}

.container nav ol li a {
  text-decoration: none;
  color: rgb(85, 82, 82);
  margin-left: auto;
}

.Fiever {
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  font-weight: 600;
}

.Fiever:hover {
  -webkit-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
          transform: translateY(-20%);
}

.Icons {
  width: 30px;
  height: 30px;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.Icons:hover {
  -webkit-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
          transform: translateY(-20%);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.carousel {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 10px;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  -webkit-transition: 200ms opacity ease-in-out;
  -o-transition: 200ms opacity ease-in-out;
  transition: 200ms opacity ease-in-out;
  -webkit-transition-delay: 200ms;
       -o-transition-delay: 200ms;
          transition-delay: 200ms;
}

.slide > img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slide:hover img {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.slide:hover p {
  opacity: 1;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slide:hover .centered1 {
  opacity: 0;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  -webkit-transition-delay: 0ms;
       -o-transition-delay: 0ms;
          transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 3rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 3rem;
}

.carousel-button.next {
  right: 3rem;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgb(248, 248, 247);
  font-weight: 500;
  font-size: 36px;
  -webkit-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
  transition: 200ms ease-in;
  opacity: 0;
  text-shadow: -1px -1px 0 #2e2d2d, 1px -1px 0 #494848, -1px 1px 0 #424141,
    1px 1px 0 #363636;
}

.centered1 {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: whitesmoke;
  font-weight: 500;
  font-size: 50px;
  -webkit-transition: 200ms ease-out;
  -o-transition: 200ms ease-out;
  transition: 200ms ease-out;
}

.centered2 {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: wheat;
  font-weight: 500;
  font-size: 26px;
  -webkit-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
  transition: 200ms ease-in;
  opacity: 0;
  text-shadow: -1px -1px 0 #2e2d2d, 1px -1px 0 #494848, -1px 1px 0 #424141,
    1px 1px 0 #363636;
}

.IMakeSomeSpace {
  margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
  .slide > img {
    width: 67rem;
    height: 80%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }

  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 5rem;
    top: 40%;
    margin-right: -800px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: rgb(248, 248, 247);
    font-weight: 500;
    font-size: 20px;
    -webkit-transition: 200ms ease-in;
    -o-transition: 200ms ease-in;
    transition: 200ms ease-in;
    opacity: 0;
    text-shadow: -1px -1px 0 #2e2d2d, 1px -1px 0 #494848, -1px 1px 0 #424141,
      1px 1px 0 #363636;
  }
  
  .centered1 {
    position: absolute;
    top: 25%;
    left: 200%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: whitesmoke;
    font-weight: 500;
    font-size: 36px;
    -webkit-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
    transition: 200ms ease-out;
  }
  
  .centered2 {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: wheat;
    font-weight: 500;
    font-size: 16px;
    -webkit-transition: 200ms ease-in;
    -o-transition: 200ms ease-in;
    transition: 200ms ease-in;
    opacity: 0;
    text-shadow: -1px -1px 0 #2e2d2d, 1px -1px 0 #494848, -1px 1px 0 #424141,
      1px 1px 0 #363636;
  }
  
  .container1{
    width: 65rem;
  }

}