/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: Fold;
  src: url(/Font/SpecialElite-Regular.ttf);
}

body {
  margin: 0;
  font-family: "Fold";
  background-color: blanchedalmond;
}

a {
  text-decoration: none;
}

.Deathbat {
  width: 200px;
  -webkit-transition: ease-in-out;
  -o-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-animation: bounce 4s infinite;
          animation: bounce 4s infinite;
}

.Deathbat:hover {
  -webkit-animation: scale 4s infinite;
          animation: scale 4s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@-webkit-keyframes scale {
  0%,
  20%,
  40% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }

  60%,
  80% {
    scale: 1.5;
  }
}

@keyframes scale {
  0%,
  20%,
  40% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }

  60%,
  80% {
    scale: 1.5;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.container nav ol {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container nav ol li {
  margin-right: 100px;
  font-size: 26px;
}

.container nav ol li a {
  text-decoration: none;
  color: rgb(85, 82, 82);
  margin-left: auto;
}

.Fiever {
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  font-weight: 600;
}

.Fiever:hover {
  -webkit-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
          transform: translateY(-20%);
}

.Icons {
  width: 30px;
  height: 30px;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.Icons:hover {
  -webkit-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
          transform: translateY(-20%);
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgb(248, 248, 247);
  font-weight: 500;
  font-size: 36px;
  -webkit-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
  transition: 200ms ease-in;
  opacity: 0;
  text-shadow: -1px -1px 0 #2e2d2d, 1px -1px 0 #494848, -1px 1px 0 #424141,
    1px 1px 0 #363636;
}

.centered1 {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: whitesmoke;
  font-weight: 500;
  font-size: 50px;
  -webkit-transition: 200ms ease-out;
  -o-transition: 200ms ease-out;
  transition: 200ms ease-out;
}

.centered2 {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: wheat;
  font-weight: 500;
  font-size: 26px;
  -webkit-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
  transition: 200ms ease-in;
  opacity: 0;
  text-shadow: -1px -1px 0 #2e2d2d, 1px -1px 0 #494848, -1px 1px 0 #424141,
    1px 1px 0 #363636;
}

.container1 {
  height: 100vh;
  position: relative;
  top: 20px;
  text-decoration: none;
}

.container1 img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.Text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 36px;
}

.Album-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 150px;
}

.Albums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
}

.Albums img {
  width: 250px;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.Albums h3 {
  -webkit-transition: 200ms ease-out;
  -o-transition: 200ms ease-out;
  transition: 200ms ease-out;
}

.Albums p {
  opacity: 0;
  -webkit-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
  transition: 200ms ease-in;
  font-size: 16px;
  color: white;
  text-shadow: -1px -1px 0 #2e2d2d, 1px -1px 0 #494848, -1px 1px 0 #424141,
    1px 1px 0 #363636;
}

.Albums:hover img {
  -webkit-transform: translateY(15%);
      -ms-transform: translateY(15%);
          transform: translateY(15%);
}

.Albums:hover h3 {
  opacity: 0;
}

.Albums:hover p {
  opacity: 1;
}

.IMakeSomeSpace {
  margin-bottom: 200px;
}

@media screen and (max-width: 768px) {

  .Album-Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 150px;
  }
  
  .Albums {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 350px;
    margin-left: 40px;
  }
  
  .Albums img {
    width: 150px;
    -webkit-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    margin-right: 70px;
  }
  
  .Albums h3 {
    -webkit-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
    transition: 200ms ease-out;
  }
  
  .Albums p {
    opacity: 0;
    -webkit-transition: 200ms ease-in;
    -o-transition: 200ms ease-in;
    transition: 200ms ease-in;
    font-size: 16px;
    color: white;
    
  }
  
  .container1{
    width: 65rem;
  }

  .Text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 36px;
    margin-left: 550px;
  }
}