/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: Fold;
  src: url(/Font/SpecialElite-Regular.ttf);
}

body {
  font-family: "Fold";
  background-color: wheat;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

form {
  background-color: blanchedalmond;
  padding: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
  width: 300px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  background-color: black;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-family: Fold;
}

button:hover {
  background-color: rgb(29, 29, 29);
}

#passwordError {
  color: red;
}